<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Minería de datos</title>
</head>
<body>
    <div class="nav-bar">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
        </div>
        <div>
            <a href="{{ url_for('index') }}" class="boton-volver"> <strong>Volver</strong> </a>
        </div>
    </div>
    
    <div class="body-info">
        <h1 class="titulo">Minería de datos</h1>
        <p><strong>La minería de datos es el proceso de analizar grandes conjuntos de datos para descubrir patrones, tendencias o relaciones ocultas que pueden ser útiles para la toma de decisiones. Utiliza técnicas de estadística, 
            aprendizaje automático e inteligencia artificial para extraer conocimiento valioso a partir de la información recopilada.</strong></p>
        <div class="info">
            <button class="accordion"><strong> &#10148; ¿Qué es un dataset?</strong></button>
            <div class="panel">
                <div class="content-container">
                    <p>
                        Un dataset es una colección estructurada de datos que sirve como base para análisis o entrenamiento de modelos.
                        Los datasets suelen estar organizados en filas y columnas, donde cada fila representa una instancia o registro, y cada columna, una variable o característica específica del fenómeno que se está estudiando.
                    </p>
                    <ul>
                        <li>CSV (Comma-Separated Values): Estructura tabular donde los valores están separados por comas.</li>
                        <li>Excel (.xls, .xlsx): Archivos de hojas de cálculo con funcionalidades adicionales.</li>
                        <li>JSON (JavaScript Object Notation): Estructura basada en texto que almacena datos en formato clave-valor.</li>
                        <li>SQL: Datos almacenados en bases de datos relacionales.</li>
                        <li>Texto: Documentos en formato TXT, PDF o procesados como series de caracteres.</li>
                    </ul>
                </div>
            </div>
        
            <button class="accordion"><strong> &#10148; Componentes de un dataset</strong></button>
            <div class="panel">
                <div class="content-container">
                    <p>
                        Un dataset contiene varios componentes a tener en consideración si queremos aplicarlo con posterioridad en algún modelo; Los siguientes componentes son:
                    </p>
                    <ul>
                        <li>Características (Features o Variables): Son las columnas del dataset y representan los atributos o propiedades de los datos. Pueden ser: Numéricas (Valores cuantitativos, Ej: la edad.), categóricas (Valores cualitativos, Ej: género.) y ordinales (Datos categóricos como un órden lógico, Ej: niveles educativos.).</li>
                        <li>Observaciones (Registros o Instancias): Son las filas del dataset y corresponden a cada caso individual o muestra de datos (e.g., un cliente, un paciente).</li>
                        <li>Etiquetas (Labels o Targets): En datasets supervisados, esta columna indica el resultado esperado o variable dependiente (e.g., precio de una casa, clasificación de spam).</li>
                        <li>Datos Faltantes (Missing Values): Celdas que no contienen datos debido a errores, omisiones o falta de información.</li>
                        <li>Meta Información (Metadata): Datos adicionales que describen el contexto del dataset, como descripciones de las variables, unidades de medida o información de su origen.</li>
                        <li>Formato de Datos: Especifica cómo están representados los datos, como texto, números, fechas, entre otros.</li>
                    </ul>
                </div>
            </div>

            <button class="accordion"><strong> &#10148; Herramientas</strong></button>
            <div class="panel">
                <div class="content-container">
                    <p>Para llevar la minería de datos a la práctica, existen herramientas poderosas. Las que más se destacan son las siguientes:</p>
                    <h3>Orange Data Mining</h3>
                    <ul>
                        <li>Orange es una herramienta de minería de datos y aprendizaje automático basada en flujos de trabajo visuales. Es altamente intuitiva y no requiere conocimientos avanzados de programación,
                             lo que la hace ideal para principiantes y para quienes buscan prototipar rápidamente análisis de datos.</li>
                    </ul>
                    <h3>KNIME</h3>
                    <ul>
                        <li>KNIME es una plataforma de análisis de datos basada en nodos y flujos de trabajo. Está diseñada para integrar y procesar datos, realizar minería de datos y crear modelos de aprendizaje automático.</li>
                    </ul>
                    <h3>RapidMiner</h3>
                    <ul>
                        <li>RapidMiner es una plataforma integral de análisis predictivo y minería de datos, diseñada para cubrir todo el ciclo de vida de un proyecto, desde la preparación de datos hasta la implementación de modelos.</li>
                    </ul>
                    <h3>Weka</h3>
                    <ul>
                        <li>Weka es una herramienta de código abierto enfocada en la minería de datos y aprendizaje automático, ampliamente utilizada en entornos académicos y de investigación.</li>
                    </ul>
                </div>
            </div>

            <button class="accordion"><strong> &#10148; Orange y otras herramientas</strong></button>
            <div class="panel">
                <div class="content-container">
                    <p>
                        Un dataset es una colección estructurada de datos que sirve como base para análisis o entrenamiento de modelos.
                        Los datasets suelen estar organizados en filas y columnas, donde cada fila representa una instancia o registro, y cada columna, una variable o característica específica del fenómeno que se está estudiando.
                    </p>
                    <ul>
                        <li>CSV (Comma-Separated Values): Estructura tabular donde los valores están separados por comas.</li>
                        <li>Excel (.xls, .xlsx): Archivos de hojas de cálculo con funcionalidades adicionales.</li>
                        <li>JSON (JavaScript Object Notation): Estructura basada en texto que almacena datos en formato clave-valor.</li>
                        <li>SQL: Datos almacenados en bases de datos relacionales.</li>
                        <li>Texto: Documentos en formato TXT, PDF o procesados como series de caracteres.</li>
                    </ul>
                    </div>
                </div>
        
            <button class="accordion"><strong> &#10148; Tipos de Modelos</strong></button>
            <div class="panel">
                <div class="content-container">
                    <p>
                        Un dataset es una colección estructurada de datos que sirve como base para análisis o entrenamiento de modelos.
                        Los datasets suelen estar organizados en filas y columnas, donde cada fila representa una instancia o registro, y cada columna, una variable o característica específica del fenómeno que se está estudiando.
                    </p>
                    <ul>
                        <li>CSV (Comma-Separated Values): Estructura tabular donde los valores están separados por comas.</li>
                        <li>Excel (.xls, .xlsx): Archivos de hojas de cálculo con funcionalidades adicionales.</li>
                        <li>JSON (JavaScript Object Notation): Estructura basada en texto que almacena datos en formato clave-valor.</li>
                        <li>SQL: Datos almacenados en bases de datos relacionales.</li>
                        <li>Texto: Documentos en formato TXT, PDF o procesados como series de caracteres.</li>
                    </ul>
                </div>
            </div>

            <button class="accordion"><strong> &#10148; Recursos: Datasets públicos</strong></button>
            <div class="panel">
                <div class="content-container">
                    <p>
                        Los siguientes links contienen una gran gama de datasets públicos, en los cuales se pueden descargar para poder entrenar modelos.
                    </p>
                    <ul>
                        <li>Kaggle: Plataforma con miles de datasets para minería de datos y machine learning. <a href="https://www.kaggle.com/">Click aquí</a></li>
                        <li>UCI Machine Learning Repository: Fuente confiable con datasets organizados por categorías. <a href="https://archive.ics.uci.edu/">Click aquí</a></li>
                        <li>Data.gov: Repositorio oficial del gobierno de EE. UU. con acceso a datasets públicos. <a href="https://data.gov/">Click aquí</a></li>
                    </ul>
                </div>
            </div>
          
            <button class="accordion"><strong> &#10148; Recursos: Artículos</strong></button>
            <div class="panel">
                <div class="content-container">
                    <p>
                        Los siguientes artículos explican con mayor calidad sobre la importancia de la minería de datos en el mundo y sus tipos de modelos variados.
                    </p>
                    <ul>
                        <li>AWS - ¿Qué es la minería de datos?. <a href="https://aws.amazon.com/es/what-is/data-mining/">Click aquí</a></li>
                        <li>IBM - ¿Qué es la minería de datos?. <a href="https://www.ibm.com/mx-es/topics/data-mining">Click aquí</a></li>
                        <li>BBVA - ¿Cómo puede ayudar el 'data mining' o minería de datos a las empresas?. <a href="https://www.bbva.com/es/innovacion/como-puede-ayudar-el-data-mining-a-las-empresas/">Click aquí</a></li>
                    </ul>
                </div>
            </div>

            <button class="accordion"><strong> &#10148; Recursos: Videos tutoriales de modelos en Orange</strong></button>
            <div class="panel">
                <div class="content-container">
                    <p>
                        Los siguientes artículos explican con mayor calidad sobre la importancia de la minería de datos en el mundo y sus tipos de modelos variados.
                    </p>
                    <ul>
                        <li>AWS - ¿Qué es la minería de datos?. <a href="https://aws.amazon.com/es/what-is/data-mining/">Click aquí</a></li>
                        <li>IBM - ¿Qué es la minería de datos?. <a href="https://www.ibm.com/mx-es/topics/data-mining">Click aquí</a></li>
                        <li>BBVA - ¿Cómo puede ayudar el 'data mining' o minería de datos a las empresas?. <a href="https://www.bbva.com/es/innovacion/como-puede-ayudar-el-data-mining-a-las-empresas/">Click aquí</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="quizz-btn-container">
            <a href="#" class="boton-volver"> <strong>Ir a quizz</strong> </a>
        </div>
    </div>
        <script>
            const accordions = document.querySelectorAll('.accordion');

            accordions.forEach(accordion => {
                accordion.addEventListener('click', function () {
                    const panel = this.nextElementSibling;
                    const isCurrentlyOpen = panel.style.display === 'block';

                    // Cerrar todos los paneles
                    accordions.forEach(acc => acc.nextElementSibling.style.display = 'none');

                    // Si el panel actual estaba cerrado, abrirlo
                    if (!isCurrentlyOpen) {
                        panel.style.display = 'block';
                    }
                });
            });
        </script>

        <hr>
    <footer>
        <p class="copy">&copy; | 2024 | David Cortés - Javiera Araya - Cristóbal Sáez - Diego Pizarro</p>
    </footer>
</body>
</html>